/* General body and header styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e9f1ff, #f9faff);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header nav a {
    text-decoration: none;
    color:#333;
    margin-right: 15px;
    font-size: 14px;
}

.contact-support {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-support:hover {
    background-color: #0056b3;
}

/* Hero section styles */
main .hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom, #eaf3ff, #ffffff);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.robot-icon {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
}

.brand {
    color: #007BFF;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input {
    padding: 10px;
    width: 60%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar .search-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -5px;
}

.search-bar .search-btn:hover {
    background-color: #0056b3;
}

/* Chat modal styles */
#embeddedMessagingContainer {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#embeddedMessagingContainer.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

#embedded-messaging, #embeddedMessagingFrame {
    height: 90%;
    width: 90%;
    border-radius: 10px;
}

#embeddedMessagingFrame {
    box-shadow: none;
}

#embeddedMessagingConversationButton {
    display: none;
}